@model AbstractFactoryDemo.Models.Message
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css" />
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading success"><h1>Your message was sent!</h1></div>
                <div class="panel-body">Great news, your message was sent to @Model.sendTo using @Model.MessageType</div>
            </div>
        </div> 
    </div>
</body>
</html>
